$body-background-color: #141418 !default;
$body-foreground-color: #212125 !default;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #567E2D !default;
$header-bg-color-secondary: #76A43D !default;

// Text
$section-headings-color: #76A43D !default;
$body-text-color: #b4c5cc !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #1b1b21 !default;
$code-text-color: #a3b1b8 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #1e1e23 !default;
